@model MvcStok.Models.Entity.Tbl_Musteri
@{
    ViewBag.Title = "MusteriGetir";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using(Html.BeginForm("MusteriGuncelle", "Musteriler", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Musteriid)
        @Html.TextBoxFor(m => m.Musteriid, new { @class = "form-control" })

        @Html.LabelFor(m => m.Musteriad)
        @Html.TextBoxFor(m => m.Musteriad, new { @class = "form-control" })

        @Html.LabelFor(m=>m.Musterisyad)
        @Html.TextBoxFor(m=>m.Musterisyad, new { @class = "form-control" })
    </div>
    <div>
        <button class="btn btn-warning">Güncelle</button>
    </div>
}

